
    <%- include partial/header%>
  <body>
    <a href="/admin/waiter"><button type="button" name="button">Waiter</button></a>
    <a href="/admin/seatingTable"><button type="button" name="button">Seating Table</button></a>
    <a href="/"><button>Home</button></a>
  </body>
</html>
