
        <%- include partial/header%>
        	<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic|Merriweather:300,400italic,300italic,400,700italic' rel='stylesheet' type='text/css'>
</head>
     
<body style="background-image:url(images/burgerfood.png)">
        <li style="background-image: url(images/slide_1.jpg);" data-stellar-background-ratio="0.5"></li>
        <li style="background-image: url(images/slide_2.jpg);" data-stellar-background-ratio="0.5"></li>
        <li style="background-image: url(images/slide_3.jpg);" data-stellar-background-ratio="0.5"></li>
    <h1 class="type-r2" style="color: Green">Restaurant Magic</h1>
    <div class="js-sticky">
			<div class="fh5co-main-nav"> 
    <div class="container-fluid">
    <div class="fh5co-menu-1">
            <a class="type-r1" style="color: green" href="/admin">Administrator</a>
        </div>
        <!-- <div class="fh5co-logo">
            <a href="/">Resto</a>
        </div> -->
        <div class="fh5co-menu-2">
                <a class="type-r1" style="color: green" href="/customer">Customer</a>
        </div>
    </div>
</div>
</div>
    
</body>
</html>