<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HALO</title>
</head>
<body>
    <marquee behavior="" direction="">halo halo</marquee>
    <a href="/admin">Administrator</a>
    <a href="/customer">Customer</a>
</body>
</html>