<!DOCTYPE html>
<html lang="en">
        <%- include partial/head%>
<body>
    <h1><marquee behavior="" direction="">Restaurant Magic</marquee></h1>
    <a href="/admin">Administrator</a>
    <a href="/customer">Customer</a>
</body>
</html>