
<!DOCTYPE html>

	<head>


	</head>
	<body>
		
		<div class="js-sticky">
			<div class="fh5co-main-nav">

						<a href="/" >Home</a>
						<a href="./indexAdmin" >Administator</a>
						
						<a href="./indexCustomer" >Customer</a>

		</div>
	<script>
		$(function () {
	       $('#date').datetimepicker();
	   });
	</script>

	</body>
</html>

