
    <%- include partial/header%>
  <body>
    <form action="/admin/seatingTable/edit/<%=data.id%>" method="post">
      <fieldset>
        <label>Seating Table : </label><br>
        <input type="text" name="tableName" value="<%=data.tableName%>" placeholder="input edit tableName"><br>
        <label>Capacity : </label><br>
        <input type="integer" name="capasity" value="<%=data.capasity%>" placeholder="input edit capacity"><br>
        <button type="submit">SAVE</button>
      </fieldset>
    </form>
  </body>
</html>
